<%
#locals
blog ||= @blog
%>
<div class="titleB">Create blog</div>

<%= error_messages_for :blog %>
<% form_for :blog, :url => member_conversatio_blogs_path, :html => {:id => "settings", :method => "post"} do |f| -%>
  <fieldset>
    <div class="fields">
      <p><label for="blog_title">Blog title</label><%= f.text_field :title, :class=>"fieldbox wide" %></p>

      <p><label for="blog_description">Blog description</label><%= f.text_area :description, :class=>"fieldbox wide" %></p>
    </div>
  </fieldset>
  <div class="actions"><%= submit_tag 'Create blog', :class => 'button mainaction' %></div>
<% end -%>