<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span><%= I18n.t('tog_conversatio.views.blogs.archive.title') %></span></h2>
    <div class="portlet_content">
      <%= archives_menu %>
    </div>    
</div> <!-- /.portlet_pluginsTog -->
