<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span><%= I18n.t('tog_conversatio.views.blogs.tag_cloud_blogs.all_tags') %></span></h2>
    <div class="portlet_content">
      <ul class="tags">
        <% tag_cloud_blogs(%w(l1 l2 l3 l4 l5)) do |tag, css_class| %>
           <li class="<%= css_class -%>"><%= link_to tag.name, tag_conversatio_blogs_posts_path(tag.name) %></li>
        <% end %>
      </ul>
    </div>    
</div> <!-- /.portlet_pluginsTog -->
